<body class="student-content-page">
  <div class="contianer-fluid">
    <div class="photo-container">
      <%= image_tag("https://pixabay.com/static/img/logo.svg", class:"pixabay-logo ") %>
      <div class="content-photo">

      </div>
    </div>
    <div class="sentence-frame">
      <h4> <%= @sentence_frame %></h4>
    </div>
    <div class="translation-section">
      <form class="form-inline sentence-form col-md-6">
        <div class="form-group">
          <p class="sentence-directions">Type your sentence below:</p>
          <textarea class="form-control input-sentence" rows="4" cols="70" autofocus></textarea>
          <button type="submit" class="btn btn-default submit-sentence">
            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
          </button>
        </div>
      </form>
      <textarea class="translated-sentence col-md-5 panel panel-stu-content" rows="4" cols="70" disabled >

      </textarea>
      <p><button type="button-fetch" class="btn btn-success request-refresh"><span class="glyphicon glyphicon-ok"></span></button></p>
    </div>
  </div>
</body>
