<body>
  <div class="container-fluid">
    <div class="panel">
      <h3>Directions:</h3>
      <p>Fill in the text box on the bottom left with your sentence using the
        given sentence frame then click the arrow button.</p>
      <p>Your sentence will be translated into your home language.</p>

      <ul>For example:
        <p>Sentence Frame: "The _____ is _____ on the _____."</p>
        <p>You may enter:  "The dog is running on the grass."</p>
      </ul>
    </div>
  </div>
</body>
