<nav class="navbar navbar-default">
  <%= link_to "ELLevate", root_path, class:"navbar-brand" %>
  <ul class="nav navbar-nav navbar-right">
    <li class="general-nav-directions"> <%= link_to "About", students_info_path%></li>
  </ul>
</nav>
