<div class="container-fluid">
  <div class="panel">
    <h3><%= current_user.first_name %> <%= current_user.last_name %></h3>
  </div>
  <div class="panel">
    <h3>Students:</h3>
    <%# current_students.each do |student| %>
      <div class="row" id="tch-dash-students">
        
      </div>
        <!-- <div class="col-md-2"><%#= student.username %></div>
        <div class="col-md-2"><%#= student.name %></div>
        <div class="col-md-2"><%#= student.language %></div>
        <div class="col-md-2"><%#= student.level %></div>
        <div class="col-md-2"><%#= image_tag(student.pass_img.img) %></div> -->
      </div>
    <%# end  %>
  </div>
</div>
