body {
  // background-color: #3EC242;
  // background-color: #8CC739;
  // background-color: #D3E397;
  background-color: #98B861;
}

.jumbotron {
  background-color: #FFF5C3;
  // background-image: url("https://aos.iacpublishinglabs.com/question/aq/700px-394px/national-animal-mexico_a08a7f34dd674288.jpg?domain=cx.aos.ask.com");
  background-image: image-url("new-york-1920757_1280.jpg");
  background-size: cover;
  // height: 100%;
  height: 300px;
  background-repepat: no-repeat;
  margin: 0px;
  opacity: 75%;
}

.panel {
  background-color: #FFF5C3;
  padding: 2%;
  margin: 4%;
  margin-top: 1%;
  margin-bottom: 1%;
  border-radius: 0px;
  box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.43);

}
