body {
  // background-color: #3EC242;
  // background-color: #8CC739;
  // background-color: #D3E397;
  background-color: #98B861;
}

.jumbotron {
  background-color: #FFF5C3;
}

.panel {
  background-color: #FFF5C3;
  padding: 2%;
  margin: 4%;
}
