.pixabay-logo {
  height: 5%;
  width: 7%;
  margin-left: 5%;
}

.content-photo {
  margin-left: 5%;
}

.content-img {
  border-radius: 2px;
  border: 2px solid lightgrey;
  max-height: 30%;
  max-width: 30%;
}

.sentence-frame {
  margin-left: 5%;
}

.sentence-form {
  margin-left: 3%;
  display: inline;
}

.submit-sentence {
  margin-left: 23px;
}

.sentence-directions {
  width: 100%;
}

// .translated-sentence {
//   display:inline;
//   border: 2px solid black;
//   // width: 500px;
//   // height: 100px;
//   width: 200px;
//   height: 100px;
// }

.panel-stu-content {
  margin-top: 30px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 5px;
  background-color: lightgrey;
  border: 1px solid #e3e3e4;

}
